@import "~@angular/material/theming";
@import "./components-themes.scss";

@include mat-core();


//default-theme
$primary: mat-palette($mat-indigo);
$accent: mat-palette($mat-pink, A200, A100, A400);
$warn: mat-palette($mat-red);
$theme: mat-light-theme($primary, $accent, $warn);

.app-default-theme {

    @include angular-material-theme($theme);
    @include components-theme($theme);
    @include components-theme-extra-info($theme, false);
    
}


//dark-theme
$dark-primary: mat-palette($mat-pink);
$dark-accent: mat-palette($mat-amber, A400, A100, A700);
$dark-warn: mat-palette($mat-red);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.app-dark-theme {

    @include angular-material-theme($dark-theme);
    @include components-theme($dark-theme);
    @include components-theme-extra-info($dark-theme, true);

}

/*SWEETALERT SPECIFIC BEHAVIOUR, IT'S ON A SEPARATE CONTAINER*/
body.app-default-theme .swal2-container{
    @include sweet-alert-theme($theme, false);
}
body.app-dark-theme .swal2-container{
    @include sweet-alert-theme($dark-theme, true);
}