<section id="home-master">
    <section class="top-body">
        <div class="crud-selector">{{ crudOperation }} <div *ngIf="crudOperation == 'Edit'" class="remove"
                (click)="onEditAbort()">ABORT EDIT</div>
        </div>
        <form [formGroup]="filterForm">
            <!-- " -->
            <input type="hidden" formControlName="id">
            <div class="field-wrapper">
                <mat-form-field appearance="legacy">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" autocomplete="off">
                    <mat-hint>(Hint)Paul</mat-hint>
                </mat-form-field>
            </div>
            <div class="field-wrapper">
                <mat-form-field appearance="legacy">
                    <mat-label>Surname</mat-label>
                    <input matInput formControlName="surname" autocomplete="off">
                    <mat-hint>(Hint)Milestones</mat-hint>
                </mat-form-field>
            </div>
            <div class="field-wrapper">
                <mat-form-field appearance="legacy">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" class="gender-select">
                        <mat-option value="0">Male</mat-option>
                        <mat-option value="1">Female</mat-option>
                        <mat-option value="2">Ambiguous</mat-option>
                    </mat-select>
                    <mat-hint>(Hint)Female</mat-hint>
                </mat-form-field>
            </div>
            <div class="field-wrapper">
                <mat-form-field appearance="legacy">
                    <mat-label>Date of birth</mat-label>
                    <input matInput formControlName="dateOfBirth" [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-hint>(Hint)Any day in the calendar</mat-hint>
                </mat-form-field>
            </div>
            <div class="field-wrapper">
                <mat-form-field appearance="legacy">
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="address" autocomplete="off">
                    <mat-hint>(Hint)Morris Ave</mat-hint>
                </mat-form-field>
            </div>
            <div class="field-wrapper">
                <mat-form-field appearance="legacy">
                    <mat-label>Country</mat-label>
                    <mat-select formControlName="countryId" class="country-select">
                        <mat-option *ngFor="let countr of countries" [value]="countr.id">{{countr.code }} - {{
                            countr.name }}
                        </mat-option>
                    </mat-select>
                    <mat-hint>(Hint)Spain</mat-hint>
                </mat-form-field>
            </div>
            <div class="field-wrapper">
                <mat-form-field appearance="legacy">
                    <mat-label>Postal code</mat-label>
                    <input matInput formControlName="postalCode" autocomplete="off">
                    <mat-hint>(Hint)30700</mat-hint>
                </mat-form-field>
            </div>
            <div class="field-wrapper">
                <div id="submit-crud" (click)="onSubmit()" [title]="crudOperation">
                    <fa-icon [icon]="['fas', 'user']"></fa-icon>
                </div>
            </div>
        </form>
    </section>
    <section class="bottom-body">
        
        <section class="top-body search-panel">
            <div class="crud-selector">Search</div>
            <form [formGroup]="searchFilterForm">
                <!-- " -->
                <input type="hidden" formControlName="id">
                <input type="hidden" formControlName="dateOfBirth">
                <div class="field-wrapper">
                    <mat-form-field appearance="legacy">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" autocomplete="off">
                        <mat-hint>(Hint)Paul</mat-hint>
                    </mat-form-field>
                </div>
                <div class="field-wrapper">
                    <mat-form-field appearance="legacy">
                        <mat-label>Surname</mat-label>
                        <input matInput formControlName="surname" autocomplete="off">
                        <mat-hint>(Hint)Milestones</mat-hint>
                    </mat-form-field>
                </div>
                <div class="field-wrapper">
                    <mat-form-field appearance="legacy">
                        <mat-label>Gender</mat-label>
                        <mat-select formControlName="gender" class="gender-select">
                            <mat-option value="0">Male</mat-option>
                            <mat-option value="1">Female</mat-option>
                            <mat-option value="2">Ambiguous</mat-option>
                        </mat-select>
                        <mat-hint>(Hint)Female</mat-hint>
                    </mat-form-field>
                </div>
                <div class="field-wrapper">
                    <mat-form-field appearance="legacy">
                        <mat-label>Date of birth (From)</mat-label>
                        <input matInput formControlName="from" [matDatepicker]="pickeFrom">
                        <mat-datepicker-toggle matSuffix [for]="pickeFrom"></mat-datepicker-toggle>
                        <mat-datepicker #pickeFrom></mat-datepicker>
                        <mat-hint>(Hint)Date of birth start search date</mat-hint>
                    </mat-form-field>
                </div>
                <div class="field-wrapper">
                    <mat-form-field appearance="legacy">
                        <mat-label>Date of birth (To)</mat-label>
                        <input matInput formControlName="to" [matDatepicker]="pickerTo">
                        <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
                        <mat-datepicker #pickerTo></mat-datepicker>
                        <mat-hint>(Hint)Date of birth end search date</mat-hint>
                    </mat-form-field>
                </div>
                <div class="field-wrapper">
                    <mat-form-field appearance="legacy">
                        <mat-label>Address</mat-label>
                        <input matInput formControlName="address" autocomplete="off">
                        <mat-hint>(Hint)Morris Ave</mat-hint>
                    </mat-form-field>
                </div>
                <div class="field-wrapper">
                    <mat-form-field appearance="legacy">
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="countryId" class="country-select">
                            <mat-option *ngFor="let countr of countries" [value]="countr.id">
                                {{countr.code }} - {{ countr.name }}
                            </mat-option>
                        </mat-select>
                        <mat-hint>(Hint)Spain</mat-hint>
                    </mat-form-field>
                </div>
                <div class="field-wrapper">
                    <mat-form-field appearance="legacy">
                        <mat-label>Postal code</mat-label>
                        <input matInput formControlName="postalCode" autocomplete="off">
                        <mat-hint>(Hint)30700</mat-hint>
                    </mat-form-field>
                </div>
            </form>
            <div class="field-wrapper">
                <div id="submit-crud" (click)="onClientSearch()" title="Search">
                    <fa-icon [icon]="['fas', 'user']"></fa-icon>
                </div>
            </div>
        </section>
        <section>
            <table mat-table class="clients-table mat-elevation-z8" [dataSource]="clientsSource">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>#</th>
                    <td mat-cell *matCellDef="let client">{{client.id}}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let client">{{client.name}}</td>
                </ng-container>

                <ng-container matColumnDef="surname">
                    <th mat-header-cell *matHeaderCellDef>Surname</th>
                    <td mat-cell class="duration-cell" *matCellDef="let client">{{client.surname}}</td>
                </ng-container>
                <ng-container matColumnDef="gender">
                    <th mat-header-cell *matHeaderCellDef>Gender</th>
                    <td mat-cell class="duration-cell" *matCellDef="let client">{{client.gender == 0 ? 'Male' :
                        client.gender == 1 ? 'Female' : client.gender == 2 ? 'Ambiguous' : '-'}}</td>
                </ng-container>
                <ng-container matColumnDef="dateOfBirth">
                    <th mat-header-cell *matHeaderCellDef>Date of birth</th>
                    <td mat-cell class="duration-cell" *matCellDef="let client">{{client.dateOfBirth | date: 'MM/dd/yyyy'}}</td>
                </ng-container>
                <ng-container matColumnDef="address">
                    <th mat-header-cell *matHeaderCellDef>Address</th>
                    <td mat-cell class="duration-cell" *matCellDef="let client">{{client.address}}</td>
                </ng-container>
                <ng-container matColumnDef="countryId">
                    <th mat-header-cell *matHeaderCellDef>Country</th>
                    <td mat-cell class="duration-cell" *matCellDef="let client">{{ getCountryFromClient(client) }}</td>
                </ng-container>
                <ng-container matColumnDef="postalCode">
                    <th mat-header-cell *matHeaderCellDef>PostalCode</th>
                    <td mat-cell class="duration-cell" *matCellDef="let client">{{client.postalCode}}</td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let client">
                        <div class="action-cell">
                            <div class="edit" title="Edit" (click)="onClientEdit(client)">EDIT</div>
                            <div class="remove" title="Remove" (click)="onClientRemove(client.id)">REMOVE</div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </section>


    </section>
</section>