
:root {
    --backgroundDatePicker: white;
    --colorDatePicker: black;
   
}

.crud-selector {
    font-size: 20px !important;
    .remove {
        width: fit-content;
        padding: 0.3em;
        display: inline;
        font-weight: bold !important;
        margin-left: 1.5em;
        cursor: pointer;
    }
}
:host {
    height: -webkit-fill-available !important;
}
#home-master {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.top-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 3rem;
    opacity: 0.8;

    form {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        .field-wrapper {
            margin: 0.5rem;            
        }
    }
}

.bottom-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: -webkit-fill-available !important;
    padding: 3rem;
    justify-content: flex-end;
    section {
        display: flex;
        flex-direction: column;
        width: 100%;
        .field-wrapper {
            margin: 0.5rem;
        }
    }
}

div.mat-paginator-page-size.ng-star-inserted
    > mat-form-field
    > div
    > div.mat-form-field-flex
    > div
    mat-select
    div
    div
    span
    span {
    color: var(--colorDatePicker) !important;
}

.mat-datepicker-content,
.mat-select-panel-wrap {
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
    display: flex;
    border-radius: 2px;
    background-color: var(--backgroundDatePicker);
    color: var(--colorDatePicker);
}
.mat-calendar,
.mat-calendar-content {
    height: fit-content !important;
}
@mixin home-theme($theme, $is-dark-theme) {
    .top-body,
    .mat-form-field-infix input,
    mat-label,
    mat-hint,
    .gender-select div div .mat-select-arrow,
    .country-select div div .mat-select-arrow,
    .mat-datepicker-toggle-default-icon,
    .mat-select-min-line {
        @if $is-dark-theme {
            color: black !important;
            --colorDatePicker: white;
            --backgroundDatePicker: #303030;
        } @else {
            color: white !important;
            --colorDatePicker: #303030;
            --backgroundDatePicker: white;
        }
    }
    .top-body,
    .mat-form-field-infix input,
    mat-label {
        background-color: mat-color(map-get($theme, primary));
    }
    fa-icon svg path {
        fill: mat-color(map-get($theme, primary));
    }
    div.edit {
        background-color: mat-color(map-get($theme, accent));
    }
    div.remove {
        background-color: mat-color(map-get($theme, warn));
    }
}
